#bas{
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    bottom: 0;
    z-index: 1;
    color: inherit;
}

/* --- Les bulles --- */
#bulle_texte{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 25px;
    background-color: white;
    border: 3px solid;
    border-radius: 35px;
    margin: 20px;
    padding: 16px;
    width: 85%;
    height: 175px;
    z-index: 1;
}
#bulle_nom{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: white;
    border: 3px solid;
    border-radius: 35px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: 225px;
    z-index: 1;
}
#bulle_image{
    background-color: white;
    border: 3px solid;
    border-radius: 35px;
    margin-left: 20px;
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* --- fin des bulles --- */

#listener {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 300%;
}

#nextDialogue{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 67%;
    left: 93%;
}
