@import "shared/game.css";
@import "shared/dialogue.css";

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.game {
    background-image: url('/assets/images/background/park.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s ease-in-out;
}

#old, #adult {
    height: 70%;
}

#young {
    height: 50%;
}

#head {
    width: 50%;
}
