@import 'dialogue.css';

body,html{
    background-color: var(--BG-Color);
    overflow: hidden;
    height: 100%;
}

#bg{
    height: 95%;
    border: 3px solid;
    border-radius: 35px;
}
#game_screen{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}