@import 'shared/header.css';

:root {
    --bg-color: #FFFFFF;
    --bg-color-light: #f5f5f5;
    --bg-color-dark: #F9F9F9;
    --text-color-light: #40C4C9;
    --text-color-dark: #223D54;
    --text-color-danger: #be1413;
    --btn-primary-color-light: #42c711;
    --btn-primary-color-dark: #329f0d;
    --btn-danger-color-light: #be1413;
    --btn-danger-color-dark: #850a09;
    --accent-color: #e59d9d;
    --link-color: #184798;
    --border-color-dark: #223D54;
    --border-color-light: #f5f5f5;
    --font-family: 'Helvetica', 'Arial';

    font-family: var(--font-family), sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
    background-color: var(--bg-color);
    color: var(--text-color-dark);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

* {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

header {
    margin-left: auto;
    margin-right: auto;
}

body {
    height: 100vh;
    width: 100vw;
}

.errorMessage {
    color: var(--text-color-danger);
    font-size: 1rem;
}
