body,html{
    background-color: #faefde;
    height: 100%;
}

#game_screen{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#DeepFakePicture{
    padding: 20px;
}

#DeepFakeGUI{
    background-color: white;
    height: 95%;
    width: 80%;
    border: 3px solid;
    border-radius: 35px;
    margin: 50px;
}

#Contenu{
    display: flex;<x>
    align-items: center;
    justify-content: center;
}

#Titre{
    font-size: xx-large;
    margin: 15px 15px 50px;
    display: flex;
    justify-content: center;
}

#BoutonsChoix{
    margin-left: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: x-large;
}

#BoutonFake{
    background-color: #a80b0a;
    color: white;
    font-size: x-large;
    border: 2px solid;
    border-radius: 35px;
    padding: 25px 50px;
    margin-top: 10px;
}

#BoutonReel{
    background-color: #329d0c;
    color: white;
    font-size: x-large;
    border: 2px solid;
    border-radius: 35px;
    padding: 25px 50px;
    margin-bottom: 10px;
}

#ImageOnTheSide{
    border: 3px solid;
    border-radius: 35px;
}

#Answer{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 50px;
    margin-top: 15px;
}

#Frame{
    display: flex;
}
#DFP{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
}
#Explications{
    font-size: x-large;
    padding: 50px;
    width: 50%;
}

#Source{
    font-size: x-large;
}

#Hint{
    display: flex;
    justify-content: center;
}
#Next {
    display: flex;
    justify-content: center;
}
#Understood{
    font-size: large;
    border: 3px solid;
    border-radius: 35px;
    padding: 15px;
}